<div class="mdbook-login">
  <nz-card class="login-card">
    <div class="mdbook-logo">
      <i nz-icon type="book" theme="fill"></i>
      <span>Mdbook</span>
    </div>
    <form class="login-form" nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixEmail" [nzSize]="'large'">
            <input type="email" nz-input formControlName="userName" placeholder="邮箱">
          </nz-input-group>
          <nz-form-explain *ngIf="loginForm.get('userName').dirty && loginForm.get('userName').errors">请输入邮箱
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock" [nzSize]="'large'">
            <input type="password" nz-input formControlName="password" placeholder="密码">
          </nz-input-group>
          <nz-form-explain *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">请输入密码
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>记住我</span>
          </label>
          <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登陆</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
  <ng-template #prefixEmail><i nz-icon type="mail"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
</div>
