.login-form {
  max-width: 300px;
  margin: 1em auto;
}

.login-form-button {
  width: 100%;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

