.mdbook-login {
  padding-top: 100px;
}

.login-card {
  width: 400px;
  margin: auto auto;
}

.mdbook-logo {
  font-size: 1.8rem;
  text-align: center;
  margin: 2rem auto;
}

.login-form {
  max-width: 320px;
  margin: 2em auto;
}

.login-form-button {
  width: 100%;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

