<!--The content below is only a placeholder and can be replaced.-->


<div class="page">
  <nav>
    <button class="more">
      <img src="../assets/more.png" alt="">
    </button>
    <span class="name">Markdown Book</span>
  </nav>
  <header class="tool-bar">
    <button class="tool-item" *ngFor="let tool of tools" i18n-title title="{{tool.title}}" (click)="onClickTool(tool)">
      <img src="../assets/{{tool.operation}}.png">
    </button>
  </header>
  <div class="book-panel">
    <textarea class="edit"
              (input)="onInput($event)"
              (compositionend)="onCompositionend($event)"></textarea>
    <div class="render" [innerHTML]="renderHtml"></div>
  </div>
</div>
