<!--The content below is only a placeholder and can be replaced.-->


<div class="page">
  <nav>
    <button class="more">
      <img src="assets/more.png" alt="">
    </button>
    <span class="name">Markdown Book</span>
  </nav>
  <header class="tool-bar">
    <div class="left-bar">
      <button class="tool-item" *ngFor="let tool of tools" i18n-title title="{{tool.title}}"
              (click)="onClickTool(edit,tool)">
        <img src="assets/{{tool.operation}}.png">
      </button>
    </div>
    <div class="right-bar">
      <button class="tool-item" i18n-title title="{{fullscreenTool.title}}"
              (click)="onClickTool(edit, fullscreenTool)">
        <img src="assets/{{fullscreenTool.operation}}.png">
      </button>
      <button class="tool-item" i18n-title title="{{previewTool.title}}"
              (click)="onClickTool(edit, previewTool)">
        <img src="assets/{{previewTool.operation}}.png">
      </button>
    </div>
  </header>
  <div class="book-panel">
    <textarea class="edit"
              #edit
              (input)="onInput($event)"
              (compositionend)="onCompositionend(edit.value)"
              (keyup.enter)="onEnter(edit)"
    ></textarea>
    <div class="render" [innerHTML]="renderHtml" [@openClose]="isOpen ? 'open':'closed'"></div>
  </div>
</div>
