<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" style="background-color: white">
    <div class="logo">
      <i nz-icon type="book" theme="fill"></i>
      {{isCollapsed ? '' : 'Mdbook'}}
    </div>
    <nz-tree
      #treeCom
      [nzData]="nodes"
      nzMultiple="true"
      (nzClick)="activeNode($event)"
      (nzDblClick)="openFolder($event)">
      <ng-template #contextTemplate>
        <ul nz-menu nzInDropDown>
          <li nz-menu-item><span>创建文件</span></li>
          <li nz-menu-item><span>删除</span></li>
        </ul>
      </ng-template>
      <ng-template #contextTemplate1>
        <ul nz-menu nzInDropDown>
          <li nz-menu-item><span>下载markdown</span></li>
          <li nz-menu-item><span>下载html</span></li>
          <li nz-menu-item><span>删除</span></li>
        </ul>
      </ng-template>
      <ng-template #nzTreeTemplate let-node>
        <span class="custom-node" [class.active]="activedNode?.key===node.key">
          <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event,contextTemplate)">
            <i nz-icon [type]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
            <span class="folder-name">{{node.title}}</span>
          </span>
          <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event,contextTemplate1)">
            <i nz-icon type="file"></i>
            <span class="file-name">{{node.title}}</span>
          </span>
        </span>
      </ng-template>
    </nz-tree>
  </nz-sider>
  <nz-layout style="height: 100%;overflow-y: hidden">
    <div>
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"
         (click)="isCollapsed=!isCollapsed"></i>
      <span *ngIf="openedFile">{{openedFile.path}}</span>
      <i class="save" *ngIf="activedNode && activedNode.isLeaf" nz-icon type="save" style="float: right"
         (click)="save(activedNode)"></i>
    </div>
    <nz-content>
      <div id="edit" style="height: 100%;"></div>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="modalVisible" nzTitle="创建文件"
          (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
</nz-modal>
