<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
      <i nz-icon type="book" theme="fill"></i>
      {{isCollapsed ? '' : 'Mdbook'}}
    </div>
    <ul class="documents" nz-menu nzMode="inline" nzTheme="dark" nzInlineIndent="12">
      <li nz-submenu>
        <span title (contextmenu)="contextMenu($event, rootTemplate, null)" style="display: block">文档</span>
        <ul>
          <li nz-submenu *ngFor="let node of nodes">
        <span title (contextmenu)="contextMenu($event, folderTemplate, node)" style="display: block">
          <i nz-icon type="folder"></i>{{node.name}}
        </span>
            <ul>
              <li nz-menu-item *ngFor="let child of node.children" (click)="selectFile(child)">
                <span title (contextmenu)="contextMenu($event, fileTemplate, child)" style="display: block">
                  <i nz-icon type="file-markdown"></i>{{child.name}}
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="height: 100%;overflow-y: hidden;background-color: white">
    <div>
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"
         (click)="isCollapsed=!isCollapsed"></i>
      <i class="save" *ngIf="selectedFile" nz-icon type="save" style="float: right"
         (click)="save(selectedFile)"></i>
    </div>
    <nz-content>
      <div id="edit" style="height: 100%;"></div>
    </nz-content>
  </nz-layout>
</nz-layout>


<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>

<ng-template #rootTemplate>
  <ul class="context-menu" nz-menu nzInDropDown>
    <li nz-menu-item (click)="close('create_folder')">创建文件夹</li>
  </ul>
</ng-template>
<ng-template #folderTemplate>
  <ul class="context-menu" nz-menu nzInDropDown>
    <li nz-menu-item (click)="close('create_file')">创建文件</li>
  </ul>
</ng-template>
<ng-template #fileTemplate>
  <ul class="context-menu" nz-menu nzInDropDown>
    <li nz-menu-item (click)="close('delete_file')">删除</li>
    <li nz-menu-item (click)="close('download_markdown')">下载markdown</li>
    <li nz-menu-item (click)="close('download_html')">下载html</li>
  </ul>
</ng-template>
