:host ::ng-deep .save,
:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 48px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .save:hover,
:host ::ng-deep .trigger:hover {
  color: #1890ff;
}

:host ::ng-deep .logo {
  height: 32px;
  text-align: left;
  font-size: 1.5rem;
  color: white;
}

.documents span {
  font-size: .9rem;
}

.context-menu li {
  font-size: .8rem;
}

nz-header {
  height: 64px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 1;
}

.main-container {
  display: flex;
}

.documents-wrapper {
  flex: 1;
  padding-left: 4rem;
  padding-top: 2rem;
}

.edit-wrapper {
  flex: 2;
}

.anchor-wrapper {
  flex: 1;
  padding-top: 2rem;
  padding-left: 1rem;
}

.logo {
  width: 200px;
  height: 100%;
  text-align: center;
  float: left;
}

.logo > img {
  height: 40px;
}

.logo > a {
  text-decoration: none;
  color: black;
  margin-left: 0.5rem;
  font-weight: 500;
}

.title {
  color: black;
  width: 30%;
  text-align: center;
  margin: auto;
  font-size: 1.4rem;
}

.extra {
  width: 200px;
  height: 100%;
  text-align: center;
  float: right;
  font-size: .8rem;
}

.save {
  font-size: 1.2rem;
}

