<nz-header>
  <div class="logo">
    <img src="../../../assets/logo.svg" alt="logo">
    <a href="/">MdBook</a>
  </div>
  <div class="extra" *ngIf="selectedFile">
    <i class="save" title="保存" nz-icon type="save" theme="outline" (click)="save(selectedFile)"></i>
    <span>字数{{wordCount}}</span>
  </div>
  <div class="title" *ngIf="selectedFile">{{selectedFile.name.split('.md')[0]}}</div>
</nz-header>
<div class="main-container">
  <div class="documents-wrapper">
    <ul class="documents" nz-menu nzMode="inline" nzInlineIndent="12">
      <li nz-submenu>
        <span title (contextmenu)="contextMenu($event, rootTemplate, null)" style="display: block">文档</span>
        <ul>
          <li nz-submenu *ngFor="let node of getFolders(nodeMap)">
        <span title (contextmenu)="contextMenu($event, folderTemplate, node)" style="display: block">
          <i nz-icon type="folder"></i>{{node.name}}
        </span>
            <ul>
              <li nz-menu-item *ngFor="let child of getFilesByParent(node)"
                  (click)="selectFile(child)">
                <span title (contextmenu)="contextMenu($event, fileTemplate, child)" style="display: block">
                  <i nz-icon type="file-markdown"></i>{{child.name}}
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="edit-wrapper">
    <div id="edit"></div>
  </div>
  <div class="anchor-wrapper">
    <nz-anchor style="display: none">
      <nz-link nzHref="#components-anchor-demo-basic" nzTitle="Basic demo"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Static demo"></nz-link>
      <nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
  </div>
</div>

<ng-template #rootTemplate>
  <ul class="context-menu" nz-menu nzInDropDown>
    <li nz-menu-item (click)="close('create_folder')">创建文件夹</li>
  </ul>
</ng-template>
<ng-template #folderTemplate>
  <ul class="context-menu" nz-menu nzInDropDown>
    <li nz-menu-item (click)="close('create_file')">创建文件</li>
    <li nz-menu-item (click)="close('delete_folder')">删除</li>
  </ul>
</ng-template>
<ng-template #fileTemplate>
  <ul class="context-menu" nz-menu nzInDropDown>
    <li nz-menu-item (click)="close('delete_file')">删除</li>
    <li nz-menu-item (click)="close('download_markdown')">下载markdown</li>
    <li nz-menu-item (click)="close('download_html')">下载html</li>
  </ul>
</ng-template>

<nz-modal [(nzVisible)]="isFileModalVisible" nzTitle="创建文件"
          (nzOnCancel)="isFileModalVisible=false"
          (nzOnOk)="createFile(fileInput.value)">
  <input #fileInput type="text" placeholder="文件名" style="border: none;outline: none;color: black">
</nz-modal>
<nz-modal [(nzVisible)]="isFolderModalVisible" nzTitle="创建文件"
          (nzOnCancel)="isFolderModalVisible=false"
          (nzOnOk)="createFolder(folderInput.value)">
  <input #folderInput type="text" placeholder="文件夹" style="border: none;outline: none;color: black">
</nz-modal>
