<!--
&lt;!&ndash;
<nz-layout>
  <nz-drawer [nzClosable]="false" [nzVisible]="isCollapsed" nzPlacement="left" nzTitle="Mdbook"
             (nzOnClose)="isCollapsed =!isCollapsed">
    <ul class="documents" nz-menu nzMode="inline" nzInlineIndent="12">
      <li nz-submenu>
        <span title (contextmenu)="contextMenu($event, rootTemplate, null)" style="display: block">文档</span>
        <ul>
          <li nz-submenu *ngFor="let node of getFolders(nodeMap)">
        <span title (contextmenu)="contextMenu($event, folderTemplate, node)" style="display: block">
          <i nz-icon type="folder"></i>{{node.name}}
        </span>
            <ul>
              <li nz-menu-item *ngFor="let child of getFilesByParent(node)"
                  (click)="selectFile(child)">
                <span title (contextmenu)="contextMenu($event, fileTemplate, child)" style="display: block">
                  <i nz-icon type="file-markdown"></i>{{child.name}}
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-drawer>
  <nz-layout style="height: 100%;overflow-y: hidden;background-color: #f9f9f9">
    <div>
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"
         (click)="isCollapsed=!isCollapsed"></i>
      <i class="save" *ngIf="selectedFile" nz-icon type="save" style="float: right"
         (click)="save(selectedFile)"></i>
    </div>
    <nz-content>
      <div id="edit" style="height: 100%;width:874px;margin: auto;"></div>
    </nz-content>
  </nz-layout>
</nz-layout>


<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>

<ng-template #rootTemplate>
  <ul class="context-menu" nz-menu nzInDropDown>
    <li nz-menu-item (click)="close('create_folder')">创建文件夹</li>
  </ul>
</ng-template>
<ng-template #folderTemplate>
  <ul class="context-menu" nz-menu nzInDropDown>
    <li nz-menu-item (click)="close('create_file')">创建文件</li>
  </ul>
</ng-template>
<ng-template #fileTemplate>
  <ul class="context-menu" nz-menu nzInDropDown>
    <li nz-menu-item (click)="close('delete_file')">删除</li>
    <li nz-menu-item (click)="close('download_markdown')">下载markdown</li>
    <li nz-menu-item (click)="close('download_html')">下载html</li>
  </ul>
</ng-template>

<nz-modal [(nzVisible)]="isFileModalVisible" nzTitle="创建文件"
          (nzOnCancel)="isFileModalVisible=false"
          (nzOnOk)="createFile(fileInput.value)">
  <input #fileInput type="text" placeholder="文件名" style="border: none;outline: none;color: black">
</nz-modal>
<nz-modal [(nzVisible)]="isFolderModalVisible" nzTitle="创建文件"
          (nzOnCancel)="isFolderModalVisible=false"
          (nzOnOk)="createFolder(folderInput.value)">
  <input #folderInput type="text" placeholder="文件夹" style="border: none;outline: none;color: black">
</nz-modal>
&ndash;&gt;

<nz-layout style="height: 100%">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="348" style="background-color: white">
    &lt;!&ndash;<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">User</span></span>
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item><span><i nz-icon type="file"></i><span class="nav-text">File</span></span></li>
    </ul>&ndash;&gt;
    <ul class="documents" nz-menu nzMode="inline" nzInlineIndent="12">
      <li nz-submenu>
        <span title (contextmenu)="contextMenu($event, rootTemplate, null)" style="display: block">文档</span>
        <ul>
          <li nz-submenu *ngFor="let node of getFolders(nodeMap)">
        <span title (contextmenu)="contextMenu($event, folderTemplate, node)" style="display: block">
          <i nz-icon type="folder"></i>{{node.name}}
        </span>
            <ul>
              <li nz-menu-item *ngFor="let child of getFilesByParent(node)"
                  (click)="selectFile(child)">
                <span title (contextmenu)="contextMenu($event, fileTemplate, child)" style="display: block">
                  <i nz-icon type="file-markdown"></i>{{child.name}}
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff;height: 48px">
    </nz-header>
    <nz-content style="display: flex">
      <div id="edit" style="height: 100%;width:874px;"></div>
      <nz-anchor style="flex: 1;margin-top: 4rem;">
        <nz-link nzHref="#components-anchor-demo-basic" nzTitle="Basic demo"></nz-link>
        <nz-link nzHref="#components-anchor-demo-static" nzTitle="Static demo"></nz-link>
        <nz-link nzHref="#api" nzTitle="API"></nz-link>
      </nz-anchor>
    </nz-content>
  </nz-layout>
</nz-layout>
-->


<nz-header>
  <div class="logo"><span>MdBook</span></div>
  <div id="title" *ngIf="selectedFile"><span>{{selectedFile.name}}</span></div>
</nz-header>
<div class="main-container">
  <div class="documents-wrapper">
    <ul class="documents" nz-menu nzMode="inline" nzInlineIndent="12">
      <li nz-submenu>
        <span title (contextmenu)="contextMenu($event, rootTemplate, null)" style="display: block">文档</span>
        <ul>
          <li nz-submenu *ngFor="let node of getFolders(nodeMap)">
        <span title (contextmenu)="contextMenu($event, folderTemplate, node)" style="display: block">
          <i nz-icon type="folder"></i>{{node.name}}
        </span>
            <ul>
              <li nz-menu-item *ngFor="let child of getFilesByParent(node)"
                  (click)="selectFile(child)">
                <span title (contextmenu)="contextMenu($event, fileTemplate, child)" style="display: block">
                  <i nz-icon type="file-markdown"></i>{{child.name}}
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="edit-wrapper">
    <div id="edit"></div>
  </div>
  <div class="anchor-wrapper">
    <nz-anchor>
      <nz-link nzHref="#components-anchor-demo-basic" nzTitle="Basic demo"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Static demo"></nz-link>
      <nz-link nzHref="#api" nzTitle="API"></nz-link>
    </nz-anchor>
  </div>
</div>
